
  $font-1: 'Roboto', Arial, sans-serif;
  
  $color-1: #202020;
  $color-2: #181818;
  $color-3: #404040;
  $color-4: #606060;
  $color-5: #AAAAAA;
  $color-6: #4F4F4F;
  $color-7: #616161;
  $color-sub: #CC0000;

  
  $black: #060d2c;
  $white: rgb(238, 238, 238);
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-1;
  }
  
  body {
    background: $color-2;
    color: $white;
  }