@import "./settings";

@import "./components/Navbar";
@import "./components/Sidebar";

@import "./pages/Home";
@import "./components/Card";

@import "./pages/Result";
@import "./components/result/searchResult";
@import "./components/result/searchItem";

@import "./pages/Profile";
@import "./components/profile/Channel";
@import "./components/profile/Bandeau";
@import "./components/profile/VideosList";

@import "./pages/Video";
@import "./components/video/VideoPlayer";
@import "./components/video/VideoLecteur";
@import "./components/video/Commentaire";



::-webkit-scrollbar {
    width: 0.5vw;
    background: transparent;
}

::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $color-5; 
    }


    ::-webkit-scrollbar-corner  {
        display: none;  
    }

.display-linebreak {
    white-space: pre-line;
}